body{
    font-family: "Poppins",sans-serif;
    background-color: rgb(220, 209, 201);
}

.navbar{
    background-color: rgb(181, 141, 112);
}

table{
    border-collapse: collapse;
    margin: auto;
}

td{
    height: 75px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
}

.playing{
    border-bottom: 2px solid rgb(181, 141, 112);
}

button{
    border-radius: 5px;
    border: 2px solid rgb(181, 141, 112);
    background-color: transparent;
    transition-duration: 0.1s;
    cursor: hand;
}

button:hover{
    background-color: rgb(181, 141, 112);
    color: white;
}

.line0{
    height:3px;
    width:0;
    margin-top: 37.5px;
    transform:rotate(0deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line1{
    height:3px;
    width:0;
    margin-top: 112.5px;
    transform:rotate(0deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line2{
    height:3px;
    width:0;
    margin-top: 187.5px;
    transform:rotate(0deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line3{
    height:3px;
    width:0;
    margin-left: 37.5px;
    transform:rotate(90deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line4{
    height:3px;
    width:0;
    margin-left: 112.5px;
    transform:rotate(90deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line5{
    height:3px;
    width:0;
    margin-left: 187.5px;
    transform:rotate(90deg);
    transform-origin:left;
    animation:grow2 1s forwards;
}

.line6{
    margin: auto;
    height:3px;
    width:0;
    transform:rotate(45deg);
    transform-origin:left;
    animation:grow1 1s forwards;
}

.line7{
    margin: auto;
    height:3px;
    width:0;
    transform:rotate(-45deg);
    transform-origin:left;
    animation:grow1 1s forwards;
}

@keyframes grow1{
    to {width:317px;}
}

@keyframes grow2{
    to {width:222px;}
}

.col0{
    background: #2196f3;
}
.col1{
    background: red;
}