body{
    font-family: "Poppins",sans-serif;
    background-color: rgb(220, 209, 201);
}

.navbar{
    background-color: rgb(181, 141, 112);
}

table{
    border-collapse: collapse;
    margin: auto;
}

td{
    height: 75px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
}

.playing{
    border-bottom: 2px solid rgb(181, 141, 112);
}

button{
    border-radius: 5px;
    border: 2px solid rgb(181, 141, 112);
    background-color: transparent;
    transition-duration: 0.1s;
    cursor: hand;
}

button:hover{
    background-color: rgb(181, 141, 112);
    color: white;
}